
.WithTemplate-mainContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.WithTemplate-headerContainer {
    height: 10%;
}

.WithTemplate-bodyContainer {
    flex: 1;
}

.WithTemplate-FooterContainer {
    height: 6%;    
}